<footer>
  <div class="info">
    <img src="/assets/img/logo-white.svg" alt="White Scintia Logo">
    <ul>
      <li><a href="/sobre/">Sobre</a></li>
      <li><a href="/sobre/">Contacto</a></li>
      <li><a href="/sobre/">Aviso de Privacidad</a></li>
      <li><a href="/sobre/">Créditos</a></li>
    </ul>
  </div>

  <ul class="soc">
    <h3>Síguenos</h3>
    <li><a class="soc-twitter" href="#"></a></li>
    <li><a class="soc-facebook" href="#"></a></li>
    <li><a class="soc-youtube" href="#"></a></li>
    <li><a class="soc-whatsapp" href="#"></a></li>
    <li><a class="soc-instagram soc-icon-last" href="#"></a></li>
  </ul>


  <div class="bottom">

  </div>
</footer>
