section.awards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
  padding: 2rem
  @extend %peach-lightgreen
  
  h2
    order: 1
    margin-right: 1.5rem
    font-size: 2rem

  img
    order: 1
    height: 3rem
