<section class="contact">
  <div class="container">
    <h2>¿Te interesa <span>Scintia</span>? Contáctanos</h2>
  </div>
  <img src="/assets/img/hline-white.svg" alt="divider" class="hline">
  <div class="container">
    <form action="/index.html">
      <div class="form-divider">
        <fieldset name="type">
          <legend>Soy un:</legend>
          <br>
          <input type="radio" name="contact-type" value="investor"> Inversionista<br>
          <input type="radio" name="contact-type" value="school"> Escuela<br>
          <input type="radio" name="contact-type" value="enthusiast"> Entusiasta </br>
          <input type="radio" name="contact-type" value="startup"> Empresario
        </fieldset>
      </div>

      <div class="form-divider">
        <div class="form-splicer">
          <input type="text" name="email" placeholder="tucorreo@correo.com">
          <input type="text" name="message" placeholder="déjanos tu mensaje" class="textarea">
          <input type="submit" value="Contáctenme" class="button">
        </div>

      </div>

    </form>
  </div>

</section>
