<section class="presentation">
  <div class="container">

    <h2><span>Scintia</span> es un laboratorio básico de ingeniería genética, portátil y asequible, que lleva la ciencia molecular al alcance de todos.</h2>

  </div>

  <img src="/assets/img/hline.svg" alt="divider" class="hline">

  <div class="container">

    <div class="equipment">
      <div class="equipment-item">
        <img src="/assets/img/thermocycler.png" alt="Termociclador">
        <h4 class="title">Termociclador</h4>
        <p>Thermal cycler</p>
      </div>
      <div class="equipment-item">
        <img src="/assets/img/incubator.png" alt="Incubadora">
        <h4 class="title">Incubadora</h4>
        <p>Incubator</p>
      </div>
      <div class="equipment-item">
        <img src="/assets/img/transiluminator.png" alt="Electroforesis y Transiluminador">
        <h4 class="title">Electroforesis y Transiluminador</h4>
        <p>Electrophoresis system and Transiluminator</p>
      </div>
      <div class="equipment-item">
        <img src="/assets/img/microcentrifugator.png" alt="Microcentrifugadora">
        <h4 class="title">Microcentrifugadora</h4>
        <p>Microcentrifuge</p>
      </div>

    </div>
    <p class="centered-p">Proveemos equipos, materiales y servicios de biotecnología que sean simples y accesibles , para que cualquier persona pueda aprender y hacer biotecnología.</p>

  </div>

</section>
