<section class="whom">
  <div class="container">

    <h2>¿Para quién es Scintia?</h2>

  </div>
  <img src="/assets/img/hline.svg" alt="divider" class="hline">

  <div class="container">
    <div class="targets">
      <div class="item">
        <img src="/assets/img/backpack.svg" alt="Students">
        <h4>Estudiantes</h4>
        <p>Estudiantes de nivel bachillerato que desean profundizar en sus estudios de biología o universitarios que con poco acceso a laboratorios de calidad para hacer su investigación.</p>
      </div>
      <div class="item">
        <img src="/assets/img/school.svg" alt="Schools">
        <h4>Escuelas</h4>
        <p>Escuelas que desean contar con un laboratorio de biología y genética a precio accesible o universidades que desean contar con múltiples equipos para eficientizar el uso  del laboratorio.</p>
      </div>
      <div class="item">
        <img src="/assets/img/bot.svg" alt="DYI enthusiasts">
        <h4>Entusiastas DIY</h4>
        <p>Personas que quieren iniciarse en el naciente mundo del biohacking, aprender sobre ADN o hacer experimentos DIY con biología molecurar.</p>
      </div>
      <div class="item">
        <img src="/assets/img/rocket.svg" alt="Startups">
        <h4>Startups</h4>
        <p>Pequeñas y medianas empresas que requieren equipo de laboratorio para hacer investigación y desarrollo, o pruebas de control de calidad.</p>
      </div>
    </div>
  </div>

</section>
