<section class="why">
  <div class="container">
    <h2>¿Por qué <span>Scintia</span>?</h2>

    <div class="explanation">
      <div class="item">
        <h3>El Problema</h3>
        <img src="/assets/img/problem.svg" alt="An image of a smudge">
        <p>El equipo necesario para hacer biología molecular es caro, inclusive para las universidades, quienes disponen la mayoría de las veces sólo de un ejemplar de cada aparato necesario para el estudio, haciendo que incluso para estudiantes de nivel profesional sea difícil el acceso al equipo necesario.
        <br><br>
        Esto eleva la dificultad para cualquier
        persona interesada en estudiar biología
        molecular.</p>
      </div>
      <div class="item">
        <h3>La Solución</h3>
        <img src="/assets/img/solution.svg" alt="An illustration of the equipment">
        <p>Creamos un kit de biología molecular
        de bajo costo, asequible tanto para
        escuelas de nivel preparatoria, como
        para universidades, entusiastas o
        pequeñas empresas.
        <br><br>
        Scintia tiene todo el equipo que
        necesitas para realizar los
        experimentos más frecuentes en el
        estudio de la biología molecular
        y la genética y es un kit al alcance de
        todos.</p>
      </div>
    </div>

  </div>
</section>
