<section class="why">
  <div class="container">
    <h2>¿Por qué <span>Scintia</span>?</h2>

    <div class="explanation">
      <div class="item">
        <h3>El Problema</h3>
        <img src="/assets/img/problem.svg" alt="An image of a smudge">
        <p>Hoy en día existen cientos de herramientas en línea que pueden enseñarnos la parte teórica de las ciencias biológicas y del funcionamiento de muchos principios biotecnológicos.
        <br><br>
        Sin embargo, para poder entender realmente la biología muchas veces es necesario hacer experimentos que en ocasiones requiere de equipos de laboratorio que son costosos y difíciles de conseguir.</p>
      </div>
      <div class="item">
        <h3>La Solución</h3>
        <img src="/assets/img/solution.svg" alt="An illustration of the equipment">
        <p>En Scintia creemos que esto no debería ser una limitante para poder entender las maravillas de la biología y es por eso que hemos desarrollado un kit de biología molecular de bajo costo que tiene todo el equipo necesario para realizar los experimentos más usados en el estudio de la biología molecular y  genética.
        <br><br>
        Con estos kits que son accesibles tanto para escuelas de nivel medio superior, universidades, entusiastas y pequeñas empresas, esperamos poder ayudar a fomentar el acceso a estas tecnologías y lograr uno de nuestros objetivos principales: Democratizar la educación en biotecnología.</p>
      </div>
    </div>

  </div>
</section>
